.backgroundContainer{
    background-color: var(--primary-color); /* Color de fondo opcional */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}
h4{
    color: var(--optinal-color5);
}

.listaCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

