.inputRap{
    width: 100vh;
}

.tituloDescripcion{
    padding-bottom: 15px;
}

.selectOption{
    height: 50px;
    font: var(--encabezado-font);
    border-radius: 15px;
}

.selectOption option {
    padding: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}