.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.tituloModal {
    font: var(--titulo-font);
    padding-bottom: 15px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    width: 600px;
    max-height: 80%;
    overflow-y: auto;
}

.seccionTabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left; /* Ensure text alignment is consistent */
    font: var(--encabezado-font);
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2; /* Optional: Add background color to headers */
    text-align: left; /* Ensure headers are aligned to the left */
}

td:last-child, th:last-child {
    text-align: center; /* Center align the last column */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}