/* src/css/components/menu.css */
@import '../global.css';

.menu {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 95%;
    margin-left: 30px;
    position: absolute;
    left: 0;
    border-radius: 15px;
    justify-content: space-between;
}

.userData {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--optinal-color5);
}

.userData img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.nombreUsuario {
    font: var(--encabezado-font);
}

.rolUsuario {
    font: var(--parrafo-font);
}

.menuOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuButton {
    margin: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font: var(--encabezado-font);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 40px;
}

.menuButton .icon {
    position: absolute;
    font: 25px 'Inter', bold;
    left: 10px;
}

.menuButton .etiquetaBoton {
    font: var(--encabezado-font);
    color: var(--background-color);
}

.menuFooter {
    margin-top: auto;
    text-align: center;
}

.cerraSesion {
    background-color: var(--optinal-color4);
    color: var(--background-color);
    border-radius: 15px;
    padding: 5px;
    font: var(--encabezado-font);

}
.homeButton{
    color: var(--optinal-color5);
    font: var(--subtitulo-font);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
        margin-left: 0;
        position: relative;
        border-radius: 0;
    }

    .menuButton {
        width: 90%;
        padding-left: 30px;
    }

    .menuButton .icon {
        left: 5px;
    }
}

@media (max-width: 480px) {
    .menuButton {
        width: 100%;
        padding-left: 20px;
    }

    .menuButton .icon {
        left: 5px;
    }
}