@charset "utf-8";

body{
    background: url('https://media.istockphoto.com/id/1341348395/es/foto/vieja-tabla-de-madera-marr%C3%B3n-oscuro.jpg?s=612x612&w=0&k=20&c=RkSkvMujJyRmr8MZekm-dejrsHrAqH7B7PTk_CJSlJE=');
}

#hd-cabecera{
    background-color: rgba(255, 255, 255, 0);

    height: 90px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    border-radius: 8px;
    text-align: center;
    border-bottom: 3px solid ;
    border-color: #724100;
    backdrop-filter: blur(10px);

}

#hd-cabecera h1{
    padding-top: 20px;
    color: #ffff;
    font: bold 60px "Times New Roman";
}

#hd-cabecera a{
    text-decoration: none;
}

h3{
    color: #ffff;
    font: 30px arial;
    align-self: center;
}

#article-header{
    color: #ffff;
}

#nav-navegacion{
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid ;
    border-color: #724100;
}

#nav-navegacion li a{
    text-decoration: none;  
    font-size: 20px;
    color: #ffffff;
    padding-top: 15px;
    padding-right: 15px;
    display: block;
    border-radius: 30px;
    backdrop-filter: blur(10px);

}

#nav-navegacion li{
    display: inline-block;
    text-align: center;
    background-color: rgba(42, 43, 46, 0);
    backdrop-filter: blur(10px);
}

#nav-navegacion li a:hover{
    background: #5A5A66;
    color: #724100;
    border-radius: 5px;
}


#section-contenido{
    max-width: 90%;
    margin: auto;
    background-color: #2A2B2E;
    min-height: 600px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffff;
    background-color: rgba(42, 43, 46, 0);
    backdrop-filter: blur(10px);
    border-bottom: 3px solid ;
    border-color: #724100;
}

table{
    margin-top: 30px;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #fafafa;
    background-color: #525252;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

#titulo-tabla{
    color: #ffff;
    font-weight: bold;
}



#section-img img{
    max-width: 310px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px #724100;
}


#article-1{
    padding: 30px;

}

#article-2{
    padding: 30px;
    font-size: large;
}

#article-3{
    padding: 30px;
    font-size: 20px;
}

#article-4{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    opacity: 0.8;
    color: #001fa4;
}

#article-5{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: #001fa4;
}

#li-projects{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #001fa4;
}

#img-elmo{
    float: left;
    
}

hr{
    max-width: 90%;
    
}

#footer-redes{
    background-color: rgba(42, 43, 46, 0);
    color: #ffffff;
    clear: both;
    margin-top: 40px;
    height: 160px;
    border: 30px;
    margin: auto;
    max-width: 90%;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid ;
    border-color: #724100;

}

img{
    opacity: 0.5;
}

#footer-redes img{
    float: none;
}

#article-4 img{
    margin: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px #87FF65;
}

#img-1{
    grid-area: a;
    width: 327px;
}
#img-2{
    grid-area: b;
    width: 65%;
    float: right;
    height: 490px;
}
#img-3{
    grid-area: c;
    width: 50%;
    height: 331px;
}
#img-4{
    grid-area: d;
    width: 46%;
    float: right;
}


#form-contacto{
    align-items: center;
    width: 90%;
    margin: auto;
}

#form-contacto input{
    margin-bottom: 15px;
    width: 90%;
    margin-top: 5px;
}
#form-contacto textarea{
    margin-bottom: 15px;
    width: 90%;
    margin-top: 5px;
}

#btn-input{
    width: 30%;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
}
#caja{
    padding: 35px;
}